/*header*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(image/bg.gif);
    font-size: clamp(2rem, 2.8vw, 5rem);
    font-family: Raleway;
    font-weight: bold;
  }
  
  .typewriter {
      width: 20ch;
      white-space: nowrap;
      overflow: hidden;
      border-right: 4px solid #212121;
      animation: cursor 1s step-start infinite, 
      text 5s steps(12) alternate infinite;
      background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
      color: #ffffff;
      text-shadow: 2px 2px rgb(1, 245, 54);
  }
  
  @keyframes cursor {
      0%, 100% { 
      border-color: #212121; 
    }
  }
  
  @keyframes text {
      0% { 
      width: 0; 
    }
      100% { 
      width: 20ch; 
    }
  }
  .welcome{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5%;
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #08e1fd 100%);
color: #ff0000;
text-shadow: 5px 2px #f8ff00;

  }

.n_title{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  text-align: center;
  font-family: 'Chivo Mono', monospace;
  font-weight: 1000;
  background: url(sky.jpg);
  background-size: cover;
  color:#f9fd03fd;
  text-shadow: 2px 2px #17f80f;

}


  .rohu{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    
  }

 .rohupic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    
}
.rohupic img{
    width: 70%;
    box-shadow: 4px  24px 26px rgba(9,224,181,0.71);
}
.rohu_txt{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    font-size: 20px;
    font-style: italic;
}
.maps{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00fb3a;
    box-shadow: 10px 10px 5px 0px rgba(255,0,0,1);

}
.maps h1{
  font-size: 50px;
  font-style: italic;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #d53a3a;
  text-shadow: 2px 2px #f8ff00;
}
.maps .mp{
  width: 90%;
}

/*social media*/
.social{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.insta{
  font-size: 30px;
  border-radius: 25px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #fb7ef1;
background-image: linear-gradient(62deg, #ec0da9b6 0%, #cf1cc08e 100%);

}
.FB{
  font-size: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #3d59f3;
background-image: linear-gradient(62deg, #0d41ecb6 0%, #0630f0ee 100%);
}
.YT{
  font-size: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ec1717;
background-image: linear-gradient(62deg, #f11515b6 0%, #cf1c1c8e 100%);
}





.social button{
  width: 20%;
  display: flex;
  align-items: center;
  gap: 3%;
  color: white;
  outline: none;
  border-radius: 25px;
  border: snow solid 2px;
}

.consultant{
  margin-top: 10%;
  display: flex;
  background-color: ghostwhite;
  align-items: center;
  justify-content: center;
  padding: 2%;
  box-shadow: 4px -4px 24px 26px rgba(224, 9, 9, 0.71);

}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  margin: 1%;
  color: #f9fff9;
  border-radius: 2PX;
}
.card h1{
  color: #0004ff;
}
.card p{
  font-size: 20px;
  font-weight: 1000;
}
.card img{
  width: 30%;
  border-radius: 50%;
}
.overview{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #0004ff;
  text-shadow: 1px 2px rgb(8, 8, 8);
}
.overview h1{
  font-size: 50px;

}
.overview p{
  font-size: 20px;
  font-style: italic;
}
hr{
  margin-top: 5%;
  background-color: #080808;
  font-size: 20px;
}
footer{
  
  background-color: #212121e3;
}
.end{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.copyright{
  margin-left: 2%;
  font-size: larger;
}
.developer{
  display: flex;
  justify-content: baseline;
  margin-right: 2%;
  font-size: larger;
}
/*MEDIA QUERY*/
@media (max-width:600px){
  .rohu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    
  }

  .rohupic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 2%;
    
}
.rohupic img{
    width: 100%;
    
}
.rohu_txt{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    font-size: 20px;
    font-style: italic;
}



  .maps h1{
    font-size: 20px;
    font-style: italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d53a3a;
    text-shadow: 2px 2px #f8ff00;
  }
  .maps{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00fb3a;

}

  .social{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .social button{
    margin-top: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1%;
    color: white;
    outline: none;
    border-radius: 25px;
    border: snow solid 2px;
  }

  .social button i{
    margin-right: 2%;
  }

  .consultant{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    align-items: center;
    justify-content: center;
    padding: 2%;
    box-shadow: 4px -4px 24px 26px rgba(116, 255, 3, 0.932);
  
  }
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    margin: 1%;
    text-align: center;
    color: #f9fff9;
    border-radius: 2PX;
  }

  footer{
  
    background-color: #212121e3;
  }
  .end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: wheat;
  }
  .copyright{
    margin-left: 2%;
    font-size: smaller;
  }
  .developer{
    display: flex;
    justify-content: baseline;
    margin-right: 2%;
    font-size: smaller;
  }

}